:root {
  --primary-bg: #F0F5FA;
  --sidebar-bg: rgba(255, 255, 255, 0.9);
  --menu-hover: #76b3f5;
  --card-bg: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir", "Century Gothic", sans-serif;
  margin: 0;
  background-color: var(--primary-bg);
}

div {
  display: block;
}

.Header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.App-sidebar {
  backdrop-filter: blur(5px);
  background-color: rgb(19, 53, 100);
  color: rgb(250, 245, 245);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  overflow-y: auto;
}

.App-page {
  width: 100%;
  padding-left: 240px;
  top: 0;
}

.SamplePage {
  padding-left: 20px;
}

.Menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu-title {
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border: none; 
  background-color: transparent; 
  padding: 0;
  margin: 10px; 
}

.Menu-title:hover {
  text-decoration: underline;
  transition: text-decoration 0.2s ease-in-out;
}

.Card, .List {
  background-color: var(--card-bg);
  border-radius: 45px;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  margin: 15px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;  
  transition: background-color 0.3s;
}

.Card {
  color: #000;
}

.Card:hover,
.List:hover {
  background-color: #f1f4f8;
  cursor: pointer;
}

button {
  background-color: #3995f7;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}

progress {
  width: 80%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
}

progress[value]::-webkit-progress-bar {
  background-color: #e9e9e9;
  border-radius: 4px;
}

progress[value]::-webkit-progress-value {
  background-color: #36a895;
  border-radius: 4px;
}

progress[value]::-moz-progress-bar {
  background-color: #4db7f9;
  border-radius: 4px;
}